<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>categories</h1>
	<div>
	<form action="#" th:action="@{/savecategory}"  th:object= ${categories} method="post">
	<p>Name: <input type="text" th:field="${categories.name}" /></p>
	<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
	
	<a href ="/categorylist" class = "btn btn-primary"> Show existing categories</a>
	</form>
	</div>
    
</body>
</html>