<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-light" style="background-color:#969bd9;">
    <span class="navbar-brand">Add new game</span>

   
</nav>
	<h1>Game</h1>
	
	<form action="#" th:action="@{/savegame}" th:object=${game}
		method="post">
		<p>
			 <input placeholder= "Name:" type="text" th:field="${game.name}" />
		</p>
		<p>
			 <input placeholder= "Console:" type="text" th:field="${game.console}" />
		</p>
		<p>
			 <input placeholder= "Description:" type="text" th:field="${game.description}" />
		</p>
		<p>
			 <input placeholder= "Age limit:" type="text" th:field="${game.ageLimit}" /> Age limit
		</p>
		<p>
			 <input placeholder= "Published:" type="text" th:field="${game.published}" /> Publishing Year
		</p>
		<p>
			 <input placeholder= "Price:" type="text" th:field="${game.price}" /> Price
		</p>
		
		<label for="category">Category</label> <select id="category"
			th:field="*{category}">
			<option th:each="category : ${categories}"
				th:value="${category.categoryId}" th:text="${category.name}"></option>
		</select>
		<div style="clear: both; display: block; height: 10px;"></div>
		<input type="submit" value="Submit" /> <input type="reset"
			value="Reset" /> 
	</form>
	<a href="/games" class="btn btn-primary"> cancel</a>

</body>
</html>